doctype html
//- basic libraries: jquery(1.10.2), d3js(3.3.11), angularjs(1.2.3), bootstrap(3.0)/semantic-ui(0.9.3/0.9.5)
//-                  fontawesome(4.4.0)
- var use = { cdn: false, og: true, favicon: true }
- var lib = { jquery: true, d3js: false, angular: true, bootstrap: true, semantic: false, fontawesome: true }
- var assets = "assets"
- var thumbnail = "http://0media.tw/p/ergame/img/thumbnail.jpg"
- var favicon = "http://0media.tw/p/ergame/img/favicon.png"
- var title = "新聞遊戲《急診人生》三分鐘的急診室醫師人生 / 報導者"
- var desc = "一款富含真實情境的經典急診室經營夢幻之作，為台灣第一個急診室新聞遊戲。遊戲背景鎖定在台灣的一間大型醫學中心，面對健保體制的崩壞、沒膽改革的政府以及愛跑大醫院看病的人民，擁有拯救急診室命運能力的鍵盤醫師，將在一次又一次的真實的醫療突發狀況中突圍，試圖拯救病患的生命。你，將在人類的極限體力、醫生的使命和病患的生命中作出抉擇，準備好了嗎？"
html(lang="en")
  head(prefix="og: http://ogp.me/ns#")
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0.0')
    title= title
    // libraries
    include library.jade
    // custom files
    link(rel="stylesheet",type="text/css",href="index.css")
    script(type="text/javascript",src="scream.min.js")
    script(type="text/javascript",src="gunzip.min.js")
    script(type="text/javascript",src="index.js")
    script(type="text/javascript",src="clipboard.min.js")
    style(type="text/css").
      #prehide { position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 99999; background: #fff}
  body(ng-app="ERGame",ng-controller="ERGame",ng-mouseup="mouse.up($event)",ng-mousedown="mouse.down($event)")
    #prehide
    #container(style="height:100%")
      #head
        a(href="https://www.twreporter.org/",target="_blank"): img#logo1(src="img/logo1.png")
        a(href="http://0media.tw/",target="_blank"): img#logo2(src="img/logo2.png")
        .pull-right
          a(ng-href="https://www.facebook.com/dialog/feed?{{share.game}}",target="_blank"): img(src="img/fb.png")
          a(ng-href="https://twitter.com/intent/tweet?url={{share.link}}",target="_blank"): img(src="img/twt.png")
      //-div(style="position:fixed;top:10px;left:10px;z-index:10000")
        | D1: {{debug.d1}}
        br
        | D2: {{debug.d2}}
        br
        | D3: {{debug.d3}}
        br
        | D4: {{debug.d4}}
        br
        | D5: {{debug.d5}}
        br
        | D6: {{debug.d6}}
      #frame(style="height:100%"): #wrapper(style="height:100%")
        #loading
          #loading-fig
            img.base(src="img/load/shadow.png")
            #loading-progress(ng-attr-style="top:{{100 - progress.value}}%")
              img(src="img/load/doctor.png",ng-attr-style="top:-{{100 - progress.value}}%")
          #loading-percent {{progress.value}}&nbsp;%
          img#loading-text(src="img/load/text.png")
          script.
            var isEn = (
              /en/.exec(
                window.location.search ||
                (navigator.languages || [])[0] ||
                navigator.language ||
                "en")
            );
            if(/zh/.exec(window.location.search)) isEn = false;
            if(isEn) document.getElementById("loading-text").setAttribute("src", "img/load/text-en.png");

        #deg90.img-bk(ng-show="dimension.portrait",data-src="img/90deg.png")
        canvas#main-canvas
        #landing.img-bk(ng-show="game.state==0",data-src="img/cover/landingscene.png")
          a#landing-reporter(ng-click="audio.click()",href="https://www.twreporter.org/topic/57ac8180363d1610007ef65a",target="_blank")
            img.src(data-src="img/cover/landing-reporter-0.png")
            img.src.active(data-src="img/cover/landing-reporter-1.png")
          #landing-start(onclick="ctrl.tutorial(false,event)",ontouchstart="ctrl.tutorial(true,event)")
            img.src(data-src="img/cover/landing-start-0.png")
            img.src.active(data-src="img/cover/landing-start-1.png")
          #landing-skip(onclick="ctrl.skip(false,event,false)",ontouchstart="ctrl.skip(true,event,false)")
            img.src(data-src="img/cover/landing-skip-0.png")
            img.src.active(data-src="img/cover/landing-skip-1.png")
        #countdown(ng-if="usedom",ng-show="game.state==5")
          img.src(data-src="img/countdown/3.png",ng-show="game.countdown.value==4")
          img.src(data-src="img/countdown/2.png",ng-show="game.countdown.value==3")
          img.src(data-src="img/countdown/1.png",ng-show="game.countdown.value==2")
          img.src(data-src="img/countdown/go.png",ng-show="game.countdown.value==1")
        #pause(ng-show="game.state==1")
          input#copy-input(type="text",value="http://0media.tw/p/ergame/")
          #pause-link(onclick="ctrl.copy(false,event)",ontouchstart="ctrl.copy(true,event)",data-clipboard-target="#copy-input")
            img.src(data-src="img/pause/link-0.png")
            img.src.active(data-src="img/pause/link-1.png")
          a#pause-reporter(ng-click="audio.click()",href="https://www.twreporter.org/topic/57ac8180363d1610007ef65a",target="_blank")
            img.src(data-src="img/pause/reporter-0.png")
            img.src.active(data-src="img/pause/reporter-1.png")
          a#pause-facebook(ng-href="https://www.facebook.com/dialog/feed?{{share.game}}",target="_blank")
            img.src(data-src="img/pause/fb-0.png")
            img.src.active(data-src="img/pause/fb-1.png")
          #pause-tutorial(onclick="ctrl.resettutorial(false,event)",ontouchstart="ctrl.resettutorial(true,event)")
            img.src(data-src="img/pause/tutorial-0.png")
            img.src.active(data-src="img/pause/tutorial-1.png")
          #pause-replay(onclick="ctrl.replay(false,event)",ontouchstart="ctrl.replay(true,event)")
            img.src(data-src="img/pause/replay-0.png")
            img.src.active(data-src="img/pause/replay-1.png")
          #pause-tm
            img.src(data-src="img/pause/tm.png")
        #mute(onmouseup="ctrl.mute(false,event)",ontouchstart="ctrl.mute(true,event)")
          div(ng-show="audio.isMute")
            img.src(data-src="img/mute/x0.png")
            img.src.active(data-src="img/mute/x1.png")
          div(ng-show="!audio.isMute")
            img.src(data-src="img/mute/o0.png")
            img.src.active(data-src="img/mute/o1.png")
        #game-ctrl(ng-show="game.state>0")
          #gctrl-landing(ng-show="game.state==4",onmouseup="ctrl.replay(false,event)",ontouchstart="ctrl.replay(true,event)")
            img.src(data-src="img/game/landing-0.png")
            img.src.active(data-src="img/game/landing-1.png")
          #gctrl-pause(ng-show="game.state==2",onmouseup="ctrl.pause(false,event)",ontouchstart="ctrl.pause(true,event)")
            img.src(data-src="img/game/pause-0.png")
            img.src.active(data-src="img/game/pause-1.png")
          #gctrl-cont(ng-show="game.state==3 && dialog.show",onclick="ctrl.next(false)",ontouchstart="ctrl.next(true)")
            img.src(data-src="img/game/cont-0.png")
            img.src.active(data-src="img/game/cont-1.png")
          #gctrl-skip(ng-show="game.state==3",onclick="ctrl.skip(false,event)",ontouchstart="ctrl.skip(true,event)")
            img.src(data-src="img/game/skip-0.png")
            img.src.active(data-src="img/game/skip-1.png")
          #gctrl-start(ng-show="game.state==1",onclick="ctrl.cont(false,event)",ontouchstart="ctrl.cont(true,event)")
            img.src(data-src="img/game/start-0.png")
            img.src.active(data-src="img/game/start-1.png")
        #game-over.img-bk(data-src="img/cover/exitscene.png",ng-show="game.state==4")
          a#gover-facebook(ng-href="https://www.facebook.com/dialog/feed?{{share.rank}}",target="_blank")
            img.src(data-src="img/cover/over-share-0.png")
            img.src.active(data-src="img/cover/over-share-1.png")
          a#gover-reporter(ng-click="audio.click()",href="https://www.twreporter.org/topic/57ac8180363d1610007ef65a",target="_blank")
            img.src(data-src="img/cover/over-report-0.png")
            img.src.active(data-src="img/cover/over-report-1.png")
          #gover-rank
            img#govevr-rank-bas.src(data-src="img/lv/0.png")
            #gover-rank-active(ng-attr-style="left:{{doctor.rank * 14.746094}}%")
              img.src(data-src="img/lv/8.png",ng-attr-style="left:-{{doctor.rank * 125.5}}%")
          .score
            each val in [0,1,2,3]
              .score-digit(ng-attr-style="background-image:url({{image.url['img/gauge/'+doctor.score.digit["+val+"]+'s.png']}})")
        #danger(ng-class="{'active':danger}"): img.src(data-src="img/danger.png",draggable="false")
        #urgency.img-bk(ng-if="usedom",data-src="img/urgency.png",ng-class="{'active':patient.urgent}")
        #energy(ng-class="{'active':doctor.draining>0}")
          #energy-base
            img.src(data-src="img/gauge/energy-0.png")
          #energy-current(ng-attr-style="left:-{{(1 - doctor.energy) * 99 + 1.0738255}}%")
            img.src(data-src="img/gauge/energy-5.png",ng-attr-style="left:{{(1 - doctor.energy) * 99 + 1.0738255}}%")
        #chance(ng-class="{'active':doctor.hurting>0}")
          each val in [1,2,3,4,5]
            .chance-node(ng-class="{'active':doctor.chance >="+val+"}")
        #score.img-bk(data-src="img/gauge/counting.png")
          each val in [0,1,2,3]
            .score-digit(ng-attr-style="background-image:url({{image.url['img/gauge/'+doctor.score.digit["+val+"]+'s.png']}})")
        #block-mask(ng-show="doctor.faint || madmax")
          .type(ng-show="doctor.faint && !madmax && usedom")
            img.src(data-src="img/mad/hungry1.png")
            img.src(data-src="img/mad/hungry2.png")
          .type(ng-show="madmax==1 && usedom")
            img.src(data-src="img/mad/gangster1.png")
            img.src(data-src="img/mad/gangster2.png")
          .type(ng-show="madmax==2 && usedom")
            img.src(data-src="img/mad/hysteria1.png")
            img.src(data-src="img/mad/hysteria2.png")
          #click-indicator(ng-show="usedom")
            img.src(data-src="img/mad/click-1.png")
            img.src(data-src="img/mad/click-2.png")
          #block-progress(ng-show="!dialog.show"): div(ng-attr-style="width:{{doctor.demading}}%")
        #arrow
          img.src(data-src="img/arrow.png",draggable="false")
        #finger-slide
          img.src(data-src="img/tutorial/finger1.png",draggable="false")
          img.src(data-src="img/tutorial/finger2.png",draggable="false")
          img.src(data-src="img/wheel.png",draggable="false")
        #oops
          img.src.dialog-content(data-src="img/tutorial/oops.png")
          img.src.dialog-doctor(data-src="img/tutorial/doctor.png")
        #dialog(ng-if="usedom",ng-class="dialog.type")
          img.dialog-content(ng-src="{{image.url['img/tutorial/'+dialog.idx+'.png']}}")
          img.src.dialog-doctor(data-src="img/tutorial/doctor.png")
        img#wheel.src(data-src="img/wheel.png",draggable="false")
        img.src(ng-if="usedom",data-src="img/scenario.png",style="width:100%",draggable="false")

        div(ng-if="usedom")
          .sprite(ng-repeat="pat in percent.sprite.points",
          ng-attr-style="width:{{percent.sprite.size[pat.type].w}}%;height:{{percent.sprite.size[pat.type].h}}%;"+
          "left:{{pat.x}}%;top:{{pat.y}}%",draggable="false",ng-class="pat.cls")
            .base(draggable="false",ng-attr-style="background-image:url({{image.url['img/it-'+pat.type+'-0-0.png']}})")
            .normal(draggable="false",ng-attr-style="background-image:url({{image.url['img/it-'+pat.type+'-'+pat.variant+'-0.png']}})")
            .active(ng-if="pat.type==1 && pat.active==1",ng-class="{'blink': pat.life < 0.3 && pat.variant != 0}",
            ng-attr-style="height:{{100 * (1 - pat.life)}}%",draggable="false")
              img(ng-src="{{image.url['img/it-'+pat.type+'-'+(pat.variant || 0)+'-'+(pat.active || 0)+'.png']}}",
              draggable="false")

            .active(ng-if="pat.type>=2 && pat.type<=4 && pat.active==1",
            ng-class="{'blink':pat.mad > 0.6 && pat.mad < 0.8}",
            ng-attr-style="top:{{100 * (1 - pat.mad)}}%",draggable="false")
              img(ng-src="{{image.url['img/it-'+pat.type+'-'+(pat.variant || 0)+'-'+(pat.active || 0)+'.png']}}",
              draggable="false", ng-attr-style="position:absolute;top:-{{100 * (1 - pat.mad)}}%")

            .active(ng-if="pat.type>=5 && pat.type<=8 && pat.active==1",ng-class="{'blink':pat.countdown < 0.4}",
            draggable="false")
              img(ng-src="{{image.url['img/it-'+pat.type+'-'+(pat.variant || 0)+'-'+(pat.active || 0)+'.png']}}",
              draggable="false")

      #foot
        a.pull-left(href="https://www.twreporter.org/a/about-us-footer",target="_blank"): img(src="img/about.png")
        a.pull-right(href="http://github.com/zbryikt/ergame/",target="_blank"): img(src="img/github.png")
      #minimal-fix(style="display:none") &nbsp;
      #img-preloader
    #fb-root
    script.
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&appId=646775858745770&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);

      }(document, 'script', 'facebook-jssdk'));</script>
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-52410923-1', 'auto');
      ga('send', 'pageview');
