doctype html
//- basic libraries: jquery(1.10.2), d3js(3.3.11), angularjs(1.2.3), bootstrap(3.0)/semantic-ui(0.9.3/0.9.5)
//-                  fontawesome(4.4.0)
- var use = { cdn: false, og: false, favicon: true }
- var lib = { jquery: true, d3js: false, angular: true, bootstrap: true, semantic: false, fontawesome: true }
- var assets = "assets"
- var thumbnail = "thumbnail.png"
- var favicon = "thumbnail.png"
html(lang="en")
  head(prefix="og: http://ogp.me/ns#")
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0.0')
    title template
    // libraries
    include library.jade
    // custom files
    link(rel="stylesheet",type="text/css",href="index.css")
    script(type="text/javascript",src="index.js")
  body(ng-app="ERGame",ng-controller="ERGame",ng-mouseup="mouse.up($event)",ng-mousedown="mouse.down($event)",
  ontouchstart="mouse.down(event)", ontouchend="mouse.up(event)")
    #container
      #head
        img#logo(src="img/logo.png")
        .pull-right
          a(href="#"): img(src="img/fb.png")
          a(href="#"): img(src="img/twt.png")
      #frame: #wrapper
        #loading(ng-if="loading",ng-class="{'fade':progress >= 100}")
          #loading-fig
            img.base(src="img/load/shadow.png")
            #loading-progress(ng-attr-style="top:{{100 - progress}}%")
              img(src="img/load/doctor.png",ng-attr-style="top:-{{100 - progress}}%")
          img#loading-text(src="img/load/text.png")
        #landing(ng-if="game.state==0")
          #landing-reporter
            img(src="img/cover/landing-reporter-0.png")
            img.active(src="img/cover/landing-reporter-1.png")
          #landing-start(ng-click="game.start();audio.click()")
            img(src="img/cover/landing-start-0.png")
            img.active(src="img/cover/landing-start-1.png")
          #landing-skip(ng-click="dialog.skip();audio.click()")
            img(src="img/cover/landing-skip-0.png")
            img.active(src="img/cover/landing-skip-1.png")
        #countdown(ng-if="game.state==5")
          img(src="img/countdown/3.png",ng-if="game.countdown.value==4")
          img(src="img/countdown/2.png",ng-if="game.countdown.value==3")
          img(src="img/countdown/1.png",ng-if="game.countdown.value==2")
          img(src="img/countdown/go.png",ng-if="game.countdown.value==1")
        #pause(ng-if="game.state==1")
          #pause-link
            img(src="img/pause/link-0.png")
            img.active(src="img/pause/link-1.png")
          #pause-reporter
            img(src="img/pause/reporter-0.png")
            img.active(src="img/pause/reporter-1.png")
          #pause-facebook
            img(src="img/pause/fb-0.png")
            img.active(src="img/pause/fb-1.png")
          #pause-tutorial
            img(src="img/pause/tutorial-0.png")
            img.active(src="img/pause/tutorial-1.png")
          #pause-tm
            img(src="img/pause/tm.png")
        #game-ctrl(ng-if="game.state>0")
          #gctrl-landing(ng-if="game.state==4",ng-mouseup="game.reset();audio.click();$event.preventDefault()")
            img(src="img/game/landing-0.png")
            img.active(src="img/game/landing-1.png")
          #gctrl-pause(ng-if="game.state==2",ng-mouseup="game.setState(1);audio.click();$event.preventDefault();audio.bk.pause()")
            img(src="img/game/pause-0.png")
            img.active(src="img/game/pause-1.png")
          #gctrl-cont(ng-if="game.state==3 && dialog.show",ng-click="dialog.next();audio.click()")
            img(src="img/game/cont-0.png")
            img.active(src="img/game/cont-1.png")
          #gctrl-skip(ng-if="game.state==3",ng-mouseup="dialog.skip(true);audio.click();$event.preventDefault()")
            img(src="img/game/skip-0.png")
            img.active(src="img/game/skip-1.png")
          #gctrl-start(ng-if="game.state==1",ng-click="game.setState(2);audio.click();audio.bk()")
            img(src="img/game/start-0.png")
            img.active(src="img/game/start-1.png")
        #game-over(ng-if="game.state==4")
          #gover-link
            img(src="img/pause/link-0.png")
            img.active(src="img/pause/link-1.png")
          #gover-reporter
            img(src="img/pause/reporter-0.png")
            img.active(src="img/pause/reporter-1.png")
          #gover-facebook
            img(src="img/pause/fb-0.png")
            img.active(src="img/pause/fb-1.png")
          .score
            each val in [0,1,2,3]
              .score-digit(ng-attr-style="background-image:url(img/gauge/{{doctor.score.digit["+val+"]}}s.png)")
        #danger(ng-class="{'active':danger}"): img(src="img/danger.png",draggable="false")
        #energy(ng-class="{'active':doctor.draining>0}")
          #energy-base
          #energy-current(ng-attr-style="width:{{doctor.energy*100}}%")
        #chance(ng-class="{'active':doctor.hurting>0}")
          each val in [1,2,3,4,5]
            .chance-node(ng-class="{'active':doctor.chance >="+val+"}")
        #score
          each val in [0,1,2,3]
            .score-digit(ng-attr-style="background-image:url(img/gauge/{{doctor.score.digit["+val+"]}}s.png)")
        #block-mask(ng-if="doctor.faint || madmax")
          .type(ng-if="doctor.faint && !madmax")
            img(src="img/mad/hungry1.png")
            img(src="img/mad/hungry2.png")
          .type(ng-if="madmax==1")
            img(src="img/mad/gangster1.png")
            img(src="img/mad/gangster2.png")
          .type(ng-if="madmax==2")
            img(src="img/mad/hysteria1.png")
            img(src="img/mad/hysteria2.png")
          #block-progress: div(ng-attr-style="width:{{doctor.demading}}%")
        #arrow
          img(src="img/arrow.png",draggable="false")
        #finger-slide
          img(src="img/tutorial/finger1.png",draggable="false")
          img(src="img/tutorial/finger2.png",draggable="false")
          img(src="img/wheel.png",draggable="false")
        #finger-tap
          img(src="img/tutorial/finger1.png",draggable="false")
          img(src="img/tutorial/finger2.png",draggable="false")
        //-#dialog(ng-click="dialog.next();audio.sel()",ng-class="dialog.type")
        #dialog(ng-class="dialog.type")
          img#dialog-content(ng-attr-src="img/tutorial/{{dialog.idx}}.png")
          img#dialog-doctor(src="img/tutorial/doctor.png")
        img#wheel(src="img/wheel.png",draggable="false")
        img(src="img/scenario.png",style="width:100%",draggable="false")
        .sprite(ng-repeat="pat in percent.sprite.points",
        ng-attr-style="width:{{percent.sprite.size[pat.type].w}}%;height:{{percent.sprite.size[pat.type].h}}%;"+
        "left:{{pat.x}}%;top:{{pat.y}}%",draggable="false",ng-mousedown="mouse.down($event, pat)",
        ng-class="pat.cls")
          .base(draggable="false")
          .normal(draggable="false")
          .active(ng-if="pat.type==1 && pat.active==1",ng-class="{'blink': pat.life < 0.3 && pat.variant != 0}",
          ng-attr-style="height:{{100 * (1 - pat.life)}}%",draggable="false")
            img(ng-attr-src="img/it-{{pat.type}}-{{pat.variant || 0}}-{{pat.active || 0}}.png",draggable="false")

          .active(ng-if="pat.type>=2 && pat.type<=4 && pat.active==1",ng-class="{'blink':pat.mad > 0.6 && pat.mad < 0.8}",
          ng-attr-style="top:{{100 * (1 - pat.mad)}}%",draggable="false")
            img(ng-attr-src="img/it-{{pat.type}}-{{pat.variant || 0}}-{{pat.active || 0}}.png",draggable="false",
            ng-attr-style="position:absolute;top:-{{100 * (1 - pat.mad)}}%")

          .active(ng-if="pat.type>=5 && pat.type<=8 && pat.active==1",ng-class="{'blink':pat.countdown < 0.4}",
          draggable="false")
            img(ng-attr-src="img/it-{{pat.type}}-{{pat.variant || 0}}-{{pat.active || 0}}.png",draggable="false")
      #foot
        a.pull-left(href="#"): img(src="img/about.png")
        a.pull-right(href="#"): img(src="img/github.png")
